<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>

    <ul>
        {{#get "users" limit="all"}}
          {{#foreach users}}
            <li><a href="{{url}}">{{name}}</a></li>
          {{/foreach}}
        {{/get}}
    </ul>

    <ul id="tags-list">

    </ul>

    <script>
        $.get(ghost.url.api('tags')).done(function (data){
          $.each(data.tags, function(i, tags) {
                $('#tags-list').append('<li><a href="/tag/' + tags.slug + '">' + tags.name + '</a></li>');
            })
        }).fail(function (err){
          console.log(err);
        });
    </script>

    
</div>
<span class="nav-cover"></span>
