<main class="content" role="main">
    <div class="index-wrapper">
        <div id="content" class="col-md-9">
        
            {{! First loop to get the featured posts}}
            {{#foreach posts}}
                {{#if featured}}
                    <article class="{{post_class}} featured">
                    <header class="post-header">
                        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
                        </header>
                        <section class="post-excerpt">
                            <p class="post-info">{{date published_at format="DD MMMM, YYYY"}} - {{tags separator=", " prefix="Tags: "}}</p>
                            <p class="post-words">{{content}}</p>
                        </section>
                    </article>
                {{/if}}
            {{/foreach}}
            
             {{! Second loop to get the non-featured posts }}
           {{#foreach posts}}
                {{#unless featured}}
                    <article class="{{post_class}}">
                    <header class="post-header">
                            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
                    </header>
                    <section class="post-excerpt">
                        <p class="post-info">{{date published_at format="DD MMMM, YYYY"}} - {{tags separator=", " prefix="Tags: "}}</p>
                            <p class="post-words">{{content}}</p>
                    </section>
                </article>
                {{/unless}}
          {{/foreach}}

          {{!! After all the posts, we have the previous/next pagination links }}
          {{pagination}}
        </div>
    </div>
</main>